@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
/*FONT STYLES ^ */
.App {
  font-family: roboto;
  text-align: center;
}
.MenuBar {
  padding-left: 0;
  color: white;
}
.MenuItem {
  text-align: center;
  background: #03a8f4;
  height: 50px;
  position: relative;
  border-bottom: 1px solid white;
}
.MenuItem p {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.MenuItem:hover {
  background: #41bcf5;
  height: 50px;
}
.DesktopNavigation {
  color: white;
  background-color: #03a8f4;
  height: 60px;
  font-family: roboto;
  -webkit-box-shadow: 0px 6px 15px 0px rgba(191, 191, 191, 1);
  -moz-box-shadow: 0px 6px 15px 0px rgba(191, 191, 191, 1);
  box-shadow: 0px 6px 15px 0px rgba(191, 191, 191, 1);
}
.MobileNavigation {
  position: relative;
  color: white;
  background-color: #03a8f4;
  height: 60px;
  font-family: roboto;
  -webkit-box-shadow: 0px 6px 15px 0px rgba(191, 191, 191, 1);
  -moz-box-shadow: 0px 6px 15px 0px rgba(191, 191, 191, 1);
  box-shadow: 0px 6px 15px 0px rgba(191, 191, 191, 1);
  border-bottom: 1px solid white;
}
.MobileNavigation p {
  position: absolute;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.MobileMenuIcon {
  height: 30px;
  width: auto;
  float: left;
  padding: 0 !important;
}
.Logo {
  padding: 2px;
  margin: 2px;
}
.PageTitle {
  letter-spacing: 1px;
  font-weight: bold;
  text-align: center;
}
.PageTitleMobile {
  letter-spacing: 1px;
  font-weight: bold;
  text-align: right;
  padding-right: 3%;
  padding-top: 5%;
 
}

img {
  height: 50px;
  -webkit-filter: invert(1);
  filter: invert(1);
}
ul {
  list-style-type: none;
  margin: 0;
  overflow: hidden;
  margin-bottom: auto;
}

li {
  float: left;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5px;
  margin-bottom: auto;
  display: block;
  color: white;
  text-align: center;
  padding: 16px;
  text-decoration: none;
}

body {
  margin: 0;
  padding: 0;
  font-family: roboto;
}
